<form action="/add-cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="prodId" value="<%= prod._id %>">
    <button type="submit" class="btn">Add to Cart</button>
    <!-- this input is just so we can fetch this info via this form body -->
</form>