<form action="/cart" method="post">
    <button type="submit" class="btn">Add to Cart</button>
    <input type="hidden" name="prodId" value="<%= prod.id %>">
    <!-- this input is just so we can fetch this info via this form body -->
</form>