<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    
    <main>
        <h1>Sorry! Something went wrong with our server</h1>
        <p> We are trying to fix this issue, please retry in some minutes</p>
    </main>
    
<%- include('includes/tail.ejs')%>    