.cart__item {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 20rem;
    font-size: .8rem;
}
.cart__item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
